#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 900px;
	margin-left:-25px;;
	text-align: left;
	border-collapse: collapse;  
}
#rounded-corner td
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: white;
	background: #808484;
	text-align : center;
}
#rounded-corner td
{
	height:30px;
	padding:0 25px;
	background: #eee;
	border-top: 2px solid #ddd;
	color: #669;
	text-align:center;
}
 
 #rounded-corner tr:hover td {
	text-align:center;
    padding: 0 25px;
    background-color:#ddd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('image/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('images/botright.png') right bottom no-repeat;
}
 
	
	#h:hover {
	 box-shadow:0px 0px 2px 1px #F00;}
	 .4{
		 background-color:#ce0609;
		 color:#FFF;		 
		 }
.aq{
 	width:110px;
	font-size:15px;
 	text-align:center;
 } 
.aq1{
	height:30px;
	width:0 auto;
	font-size:22px;
	margin-bottom:20px;
	border-radius:6px;
	border:none;
	background-color:rgba(233,94,33,1);
	border-bottom:2px solid #666;
	color:#FFF;text-shadow:5px 5px 10px #000;
} 
.aq1:hover{
	background-color: rgba(255,255,255, 1);
	color:#F00;
 }
 
 .container{
 	width:760px;
	height:0 auto;
 	background-color:rgba(0,0,0, .4);
	border-radius:4px;
	margin:0 auto;
	text-align:center;
  	transition: background-color .7s;
	margin-left:205px;
	padding-right:160px;
 	padding-left:-50px;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:8px;
		
}
th {border:double #000;
   height:30px;
   text-align:center;
   background-color:rgba(153,153,153,1);
   color:#FFF
	}
td {border:double #006;
	
	}
		
		 
		 

