<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  body{
    background: rgb(219,226,226);

  }
  .row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
  }
  img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn1:hover{
    background-color: white;
    color: black;
    border: 1px solid;
  }
  .btn2{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn2:hover{
    background-color: white;
    color: red;
    border: 1px solid;
  }
  input:hover{
    color: black;
    border: 1px solid;
  }
  ul{
    list-style-type: none;
  }
  p,a{
    font-size: 13px;
  }
</style>